.board {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
}

.board__header {
    margin-top: 15px;
}

.board__container {
    margin-top: 50px;
    box-shadow: 0 0 5px 2px black;
}

.board__cell {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
}

.row.odd .board__cell:nth-child(odd) {
    background: black;
}

.row.even .board__cell:nth-child(even) {
    background: black;
}
